
pascal/
fibonacci/
catalan/
catalan-like/
motzkin/
delannoy/
pattern-11100/
pattern-101/
pattern-family-j-j/
pattern-family-10j-1/
pattern-family-01j-0/
pattern-family-1succj-0j/
pattern-family-0succj-1j/
pattern-10101/
pattern-01010/
pattern-010101/
product-pascal-times-fibonacci/
product-fibonacci-times-pascal/


*.pdf

*.pyc
